
<body>
<h1>Descubre el contenido de la materia:</h1>
<div class="img1"><a href="https://developer.mozilla.org/en-US/docs/Learn/Getting_started_with_the_web/HTML_basics">
  <img src="assets/html.png" width="350" height="200" >
</a><p> Html y CSS</p>
  </div>
<div class="img2"><a href="https://www.w3schools.com/php/">
  <img src="assets/php.jpg" width="350" height="200" ></a> <p>PHP</p></div>


<div class="img3"><a href="https://rockcontent.com/es/blog/cms/">
  <img src="assets/cms.jpg" width="350" height="200" ></a><p>CMS (Content Managment System)</p></div>

<div class="img4"><a href="https://angular.io/docs">
  <img src="assets/angular.png" width="350" height="200" ></a> <p>Frameworks (Angular)</p></div>


</body>
