*{

  margin: 0;
}

p{
  font-size: 24px;
  color:rgb(19, 18, 18);
}
.img1{
  box-shadow: 5px 7px 5px 7px #8888882d;
  background-color: #ebe4cf8c;

  padding-top: 24px;
  border-radius: 12px;
  text-align: center;
  width: 400px;
  height: 400px;
  margin-top: 12px;
  margin-left: 44px;
  background-color: #ebe4cf8c;


}
.img2{
  box-shadow: 5px 7px 5px 7px #8888882d;

  padding-top: 24px;
  border-radius: 12px;
  border-radius: 12px;
  text-align: center;
  width: 400px;
  height: 400px;
  margin-top: -424px;
  margin-left: 480px;
  background-color: #ebe4cf8c;


}
.img3{
  box-shadow: 5px 7px 5px 7px #8888882d;

  padding-top: 24px;
  border-radius: 12px;
  text-align: center;
  width: 400px;
  height: 400px;
  margin-top: -424px;
  margin-left: 920px;
  background-color: #ebe4cf8c;

}
.img4{
  box-shadow: 5px 7px 5px 7px #8888882d;
  background-color: #ebe4cf8c;
  padding-top: 24px;
  border-radius: 12px;
  text-align: center;
  width: 400px;
  height: 400px;
  margin-top: -424px;
  margin-left: 1360px;


}
img{

  width: 330px;
  height: 300px;
  border-radius: 14px;
  opacity: 0.73;
  image-rendering: crisp-edges;
  box-shadow: 120px;

}

img:hover{
  opacity: 1;

}
.img1:hover,.img2:hover,.img3:hover,.img4:hover{
  box-shadow: 10px 12px 10px 12px #8888882d;



}
h1{
  padding-bottom: 24px;
  color: rgb(24, 21, 21);
  text-align: center;
}

