<div class="mainContainer">
  <div class="card-body">
    <img src="assets/tecnos.jpg" style="width:38%; margin-top: 0px; border-radius: 12px; margin-left: 36px;">
  </div>
  <div class="card1">
      <div class="card-body">

          <h4 class="card-title">¿Qué son las tecnologías web?</h4>
        <p class="card-text" style="max-width: 600px;">Existen numerosas tecnologías web, algo que si bien es una ventaja en el diseño y desarrollo de sitio web,
          puede llegar a complicar la elección o la toma de decisión de cuál utilizar y para qué. Por eso es imprescindible explicar en detalle el proyecto que se quiere
          desarrollar, las funciones que necesitará el  desarrollo web, y en base a eso, dejarse asesorar por los desarrolladores a la hora de determinar qué tecnologías web
          se usarán.
      </p>

      <a href="https://www.proun.es/blog/tecnologias-web-actuales/"><button class="learn-more">
          <span class="circle" aria-hidden="true">
          <span class="icon arrow"></span>
          </span>
          <span class="button-text">Leer Más</span>
        </button></a>
      </div>
    </div>
    <div class="card-body2"><img src="assets/campoLaboral.jpeg" style="width:38%; margin-top: 0px; border-radius: 12px; margin-left: 50%;">
    </div>
    <div class="card2">
        <div class="card-body">

            <h4 class="card-title">¿Por qué debería aprender alguna tecnología web?</h4><br>
          <p class="card-text" style="max-width: 600px;">
            El desarrollo de software es la profesión más buscada por los recruiters y es considerado el trabajo tecnológico # 1 con la
            tasa de crecimiento más alta en términos de ofertas de trabajo.
            A nivel mundial, el ingreso medio anual de los desarrolladores es de 48.490 euros (según la encuesta Stack Overflow 2019).
            Después de trabajar como desarrollador junior y luego desarrollador senior, podrá pasar a otras profesiones: desarrollador principal, product manager, hacker de crecimiento o
             gerente de productos.
        </p>


    <a href="https://www.wildcodeschool.com/es-ES/empleo/empleo-como-desarrollador-web"><button class="learn-more">
      <span class="circle" aria-hidden="true">
      <span class="icon arrow"></span>
      </span>
      <span class="button-text">Leer Más</span>
    </button></a>

        </div>
      </div>


</div>
