*{

}
.title-container{
  margin-bottom: -450px;
  margin: 0;
  height: 196px;
  width: 100%;
  background-color: #282849;

}
h1{

  margin: 0;
  font-size: 44px;
  color: whitesmoke;
}
img{
  margin-top: -200px;
  margin-bottom: 26px;
  width: 128px;
  height: 128px;
  border-radius: 50%;
  border: 2px solid #282849;
}
